nav a, footer a {
    display: inline-block;  
    transition: transform 0.5s ease;
}
html {
      scroll-behavior: smooth;
}
nav a:hover, footer a:hover {
    transform: scale(1.3);
    text-shadow: 0 0 10px white;
}
.parallax-img {
    opacity: 0;
    animation: subir 1s ease forwards;
    transition: transform 0.1s linear;
}
@keyframes subir {
    to {
        opacity: 1;
    }
}