blue {
    color: lightblue;
}
body {
    background: linear-gradient(to right, #e6f0ff, #cce0ff, #e6f0ff);
}
.contenido {
    justify-content: space-between;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}
main h4 {
    font-size: 20px;
    line-height: 1.3;
    margin: 20px;
    font-weight: 500;
}
main h3 {
    text-align: center;
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
    background: linear-gradient(to right, #000000, #2c3e50, #4f6a7a);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
main h2 {
    text-align: center;
    font-size: 35px;
    margin: 20px;
    background: linear-gradient(to right, black, #007bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
main h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 114px;
    background: linear-gradient(to right, black, #007bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
main h5 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to right, #000000, #2c3e50, #4f6a7a);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}