header {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #0000ff, #00eaff);
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    padding-left: 40px;
    top: 0px;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}
nav {
    gap: 100px;
    display: flex;
    padding: 33px;
    justify-content: flex-end;
    padding-right: 50px;
}
header p{
    color: white;
    text-shadow: 0 0 3px white;
    font-size: 40px;
    font-weight: bold;
}
header nav a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}