
#texto1 {
    padding: 2px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, #d3d3d3, #a3c9f9, #ffffff);
}
#derecha2 {
    text-align: justify;
    width: 45%;
    background-color: white;
    line-height: 2.5;
    padding: 30px;
    padding-left: 40px;
    padding-right: 60px;
}
#izquierda2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    background-color: white;
    line-height: 1.5;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}
ul {
    list-style-type: disc;
    font-size: 25px;
    padding-left: 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
#derecha2 img {
    width: 600px;
    height: 450px;
    border: 5px transparent solid;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, blue, cyan) border-box;
}