#ultimo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    margin-top: 15px;
    padding: 20px;
}
#ultimo h4 {
    font-size: 30px;
    font-weight: 500;
}