#derecha3 {
    text-align: center;
    width: 50%;
    background-color: white;
    line-height: 2.5;
    padding: 10px;
    padding-left: 40px;
    padding-right: 60px;
}
#izquierda3 {
    text-align: center;
    width: 50%;
    background-color: white;
    line-height: 1.5;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}