#derecha4 {
    display: flex;
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: white;
}
#izquierda4 {
    display: flex;
    text-align: center;
    width: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 400px;
}
#izquierda4 iframe {
    width: 100%;
    height: 100%;
    border: 4px transparent solid;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, blue, cyan) border-box;

    background-origin: border-box;
    background-clip: padding-box, border-box;
}
#bordes {
    border-top: 2px transparent solid;
    border-bottom: 2px transparent solid;
    width: 100%;
    background-color: #e6f0ff;
    padding-top: 11px;
    padding-bottom: 11px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, blue, cyan) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
h6 {
    text-align: center;
    font-size: 40px;
    background: linear-gradient(to right, black, #007bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}