#derecha1 {
    text-align: justify;
    width: 55%;
    background-color: white;
    line-height: 2.5;
    padding: 15px;
    padding-left: 40px;
    padding-right: 60px;
    overflow: hidden;
}
#izquierda1 {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 45%;
    background-color: white;
    overflow: hidden;
    position: relative;
}
#izquierda1 img{
    width: 450px;
    position: relative;
}
p {
    font-size: 25px;
}
